body {
    display: flex;
    background-color: black;
    color: #33ff33;
    font-family: 'Share Tech Mono', monospace;
    padding: 20px;
}

#sidebar {
    position: fixed;
    width: 200px;
    margin-right: 20px;
    margin-top: 70px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin: 10px 0;
}

#sidebar ul li a {
    color: #33ff33;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #ffcc00;
    text-decoration: none;
}

#terminal {
    max-width: 1000px;
    margin: 0 auto;
    flex-grow: 1;
    margin-left: 270px;
    margin-right: 50px; 
}

input {
    background: none;
    border: none;
    color: #33ff33;
    font-size: 1.2em;
    font-family: 'Share Tech Mono', monospace;
    outline: none;
    width: 80%;
}

p {
    margin: 5px 0;
}

pre {
    color: #33ff33;
    font-size: 1em;
    font-family: 'Share Tech Mono', monospace;
    margin: 5px 0;
}

a {
    color: #00ff00;
}

a:hover {
    color: #ffcc00;
    text-decoration: underline; 
}



